body {
    background: url('/img/SBExpress.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

img {
    width: 20rem;
    height: 15rem;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.btn {
    width: 80%;
    color: yellow;
}

.nav {
    padding: 1%;
    background: rgb(0, 0, 0);
    justify-content: center;
    display: flex;
}

.nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
    font-size: 3.5vh;
}

#active a {
    color: rgb(255, 251, 0) !important;
    font-weight: 900;
}